<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="azur_lane.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <azur_lane.My.MySettings>
            <setting name="cantporflota" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="combporstage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="exppromedio" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="meta" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="poractual" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="flota1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="flota2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sp1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sp2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sp3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sp4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="sp5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bt1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bt2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bt3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bt4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="bt5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="obj" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="actual" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="waifu" serializeAs="String">
                <value />
            </setting>
            <setting name="catwaifu" serializeAs="String">
                <value />
            </setting>
            <setting name="pr" serializeAs="String">
                <value />
            </setting>
        </azur_lane.My.MySettings>
    </userSettings>
</configuration>